#navbar {
    background-color: rgb(177, 243, 229);
    line-height: 70px;
    
}

#navbar a {
    color: black;
    font-weight: bold;
}

#burgerek {
    position: block;
}

.col {
    background-color: rgb(248, 247, 227);
}

.col img {
    max-width: 90%;
}
    

.col-6 {
    text-align: justify;
}
