#navbar {
    background-color: rgb(177, 243, 229);
    line-height: 70px;
    
}

#navbar a {
    color: black;
    font-weight: bold;
}

#burgerek {
    position: block;
}

.col-3 {
    background-color: rgb(248, 247, 227);
}

.col-3 img {
    position: relative; right:5px; top: 5px;
}
    
    
#nyitvatartas {
    position: relative; left:150px; top: 50px;
}

